/* CSS Reset */
*{
    margin: 5;
    padding: 1px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variable */
:root{
    --navbar-height:59px;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .2;
}
/* Logo and Image */
#logo{
    margin: 5x 10px;
}
/* Navigation Bar: Logo and Image */
#logo img{
    height: 80px;
    margin: 1px 5px;
}
/* Navigation  Bar: List Styling */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;    
}
#navbar ul li a{
    color: white;
    display: inline;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 1px 1px;
    height: 400px;
    justify-content: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('images/bg-exam.jpg') no-repeat center center/cover;
    height: 75%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: .90;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.0rem;
    padding: 10px 10px;
    font-family: 'Bree Serif', serif;
}
/* Services section */
.services{
    margin: 34px;
    display: flex;
}
.services .box{
    border: 2px solid brown;
    padding: 3px;
    margin: -28px 22px;
    border-radius: 28px;
    background: #f2f2f2;
    height: 10%;

}
.services .box img{
    height: 200px;
    margin: auto;
    display: block;
}
.services .box p{
    font-family: 'Bree Serif', serif;
}
/* clients section */
#client-section{
    position: relative;
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background:url('images/bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.client-item{
    padding: 34px;

}
#clients img{
    height: 124px;
}
/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url('images/contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    
    
}
footer{
    background: black;
    color: white;
    padding:23px ;
}
/* Utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    text-align: center;    
}
.h-secoundary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 6px 20px;
    border: 1px solid white;
    background-color:lightgreen;
    color: white;
    margin: 25px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    
}
/* services container */
.center{
    text-align: center;
}

.fa
	{
		padding: 20px;
		font-size: 30px;
        color: black;
        
	}
	.fa:hover{
		color: blue;
		text-decoration: none;
    }
.col-sm-4{
    position: center;
    background-color:orange;
    justify-content: center;

}

.col-sm-4 .fa{
   font-size: 50px;
    
}